<article class="property" ng-repeat="property in properties">
    <div style="background-color: {{property.agency.brandingColors.primary}}">
        <img ng-src="{{property.agency.logo}}">
    </div>
    <img ng-src="{{property.mainImage}}">
    <p>{{property.price}}</p>
</article>
