[ng-click] {
  cursor: pointer;
}

.property {
  max-width: 600px;
  position: relative;

  img {
    max-width: 100%;
  }

  p {
    background-color: #eee;
    padding: 15px;
    font-weight: bold;
  }

  a, .alreadyAdded {
    text-align: center;
    background-color: pink;
    border-radius: 5px;
    width: 150px;
    bottom: 100px;
    left: 50%;
    margin-left: -80px;
    padding: 10px;
    position: absolute;
  }

  .alreadyAdded {
    background-color: orange;
  }
}