<div ng-mouseenter='showButton=true' ng-mouseleave='showButton=false'>
    <div style="background-color: {{property.agency.brandingColors.primary}}">
        <img ng-src="{{property.agency.logo}}">
    </div>
    <img ng-src="{{property.mainImage}}">
    <a ng-show="showButton && (!property.isSaved || !add)" ng-click="updateSaved(property, add)">{{text}}</a>
    <div class="alreadyAdded" ng-show="showButton && property.isSaved && add">saved</div>
    <p>{{property.price}}</p>
</div>