<div class="row">
    <section class="col-md-6">
        <h2>Results</h2>
        <article class="property" ng-repeat="property in props.results track by $index">
            <div ng-include="'app/search/property-template.html'" ng-init="add=true;text='add property'"></div>
        </article>
    </section>
    <section class="col-md-6">
        <h2>Saved Properties</h2>
        <article class="property" ng-repeat="property in props.saved track by $index">
            <div ng-include="'app/search/property-template.html'" ng-init="add=false;text='remove property'"></div>
        </article>
    </section>
</div>