<header class="jumbotron">
    <div class="container">
        <h1>Property Finder</h1>
    </div>
</header>
<div class="container">
    <main>
        <article ui-view="content"></article>
    </main>
    <hr>
    <footer>
        <p>&copy; Property Finder 2016</p>
    </footer>
</div>